extends _layout-customer.pug

block vars
  - var pageClass = 'customer-home';

block create
  if !_config.pagination
    header.home-badsender-header
      div: img(src="/media/logo_badsender_154x118.png")
      .ribbon: span Badsender Email Builder

block list
  - const { isAdmin }     = _user
  - const { pagination }  = data
  - const { sorting }     = data

  if data.creations.length
    if !_config.pagination
      h4.home-subtitle= __('home.saved.caption')
    if _config.pagination
      div
        p
          span lignes par pages
          |  &nbsp;
          span= pagination.limit
          | &nbsp;—&nbsp;
          span= pagination.current
          | &nbsp;
          span sur
          | &nbsp;
          span= pagination.total
          | &nbsp;—&nbsp;
          if !pagination.prev
            span prev
          else
            a( href=mergeQueries('/', _query, { page: pagination.prev, } )
            ) prev
          | &nbsp;
          if !pagination.next
            span next
          else
            a( href=mergeQueries('/', _query, { page: pagination.next, })
            ) next

    table#savedTable.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      if _config.pagination
        thead: tr
          th.mdl-data-table__cell Index
          if _config.debug
            th.mdl-data-table__cell--non-numeric Id
          th.mdl-data-table__cell--non-numeric
            a( href=mergeQueries('/', _query,getSorting('name', sorting) )
            )= __('home.saved.name')
          th.mdl-data-table__cell--non-numeric
            a( href=mergeQueries('/', _query,getSorting('_wireframe.name', sorting) )
            )= __('home.saved.wireframe-name')
          if (!isAdmin)
            th.mdl-data-table__cell--non-numeric
              a( href=mergeQueries('/', _query,getSorting('_user.name', sorting) )
            )= __('home.saved.created-by')
          th.mdl-data-table__cell--non-numeric
            a( href=mergeQueries('/', _query,getSorting('createdAt', sorting) )
            )= __('home.saved.created')
          th.mdl-data-table__cell--non-numeric
            a( href=mergeQueries('/', _query,getSorting('updatedAt', sorting) )
            )= __('home.saved.last-change')
          th.mdl-data-table__cell--action= __('home.saved.rename')
          th.mdl-data-table__cell--action= __('home.saved.edit')
          th.mdl-data-table__cell--action= __('home.saved.duplicate')
          th.mdl-data-table__cell--action= __('home.saved.delete')
      else
        thead: tr
          if _config.debug
            th.mdl-data-table__cell--non-numeric Id
          th.mdl-data-table__cell--non-numeric= __('home.saved.name')
          th.mdl-data-table__cell--non-numeric= __('home.saved.wireframe-name')
          if (!isAdmin)
            th.mdl-data-table__cell--non-numeric= __('home.saved.created-by')
          th.mdl-data-table__cell--non-numeric= __('home.saved.created')
          th.mdl-data-table__cell--non-numeric= __('home.saved.last-change')
          th.mdl-data-table__cell--action= __('home.saved.rename')
          th.mdl-data-table__cell--action= __('home.saved.edit')
          th.mdl-data-table__cell--action= __('home.saved.duplicate')
          th.mdl-data-table__cell--action= __('home.saved.delete')

      tbody(data-bind="foreach: edits")
        each creation, index in data.creations
          tr
            if _config.pagination
              td.mdl-data-table__cell
                span= index + 1 + pagination.start
            if _config.debug
              td.mdl-data-table__cell--non-numeric
                a(href=creation.url.update)= creation._id
            td.mdl-data-table__cell--non-numeric
              a(href=creation.url.update).js-name= creation.name || __('home.saved.noname')
            td.mdl-data-table__cell--non-numeric: span= creation._wireframe.name
            if (!isAdmin)
              td.mdl-data-table__cell--non-numeric: span= creation._user.safename
            td.mdl-data-table__cell--non-numeric: span= formatDate(creation.createdAt)
            td.mdl-data-table__cell--non-numeric: span= formatDate(creation.updatedAt)
            td.mdl-data-table__cell--action
              a.js-rename.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(data-href=creation.url.update title="rename" href="#"): i.material-icons title
            td.mdl-data-table__cell--action
              a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(href=creation.url.update title="edit")
                i.material-icons mode_edit
            td.mdl-data-table__cell--action
              a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(href=creation.url.duplicate title="duplicate")
                i.material-icons content_copy
            td.mdl-data-table__cell--action
              a.js-delete.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(href=creation.url.delete title="delete")
                i.material-icons delete
  else
    p(style="text-align: center; padding-top: 4em;")
      a.mdl-button--accent.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href="/new-creation")
        | Make a new mailing

block dialog
  dialog.js-dialog-rename.mdl-dialog
    h4.mdl-dialog__title= __('home.rename.dialog-title')
    .mdl-dialog__content
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input#name-field(type="text" name="name" required)
        label.mdl-textfield__label(for="name-field")= __('home.rename.dialog-name')
    .mdl-dialog__actions
      button(type="button").js-post.mdl-button.mdl-button--accent.mdl-js-button= __('home.rename.dialog-confirm')
      button(type="button").js-close-rename-dialog.mdl-button= __('home.rename.dialog-cancel')
  dialog.js-dialog-delete.mdl-dialog
    h4.mdl-dialog__title= __('home.delete.dialog-title')
    .mdl-dialog__content
      p= __('home.delete.dialog-content')
    .mdl-dialog__actions
      button(type="button").js-delete-confirm.mdl-button.mdl-button--accent.mdl-js-button= __('home.delete.dialog-confirm')
      button(type="button").js-close-delete-dialog.mdl-button= __('home.delete.dialog-cancel')
